.counter-container {
    background: rgb(224, 224, 224);
    width: 275px;
    padding-top: 20px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.counter-container p {
    margin: 20px;
    text-align: center;
    font-size: 5rem;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
}

.button-container button{
    background: rgb(0, 225, 255);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.5s;
}
.button-container button:hover{
    background: rgb(3, 159, 180);
}
.button-container button:active{
    background: rgb(1, 84, 95);
}
